<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kintokan">

    <application
        android:allowBackup="true"
        android:icon="@drawable/whatsapp_image_2022_04_19_at_7_38_16_am"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kintokan">
        <activity
            android:name="kintokan.example.kintokan.contact_us"
            android:exported="false" />
        <activity
            android:name="kintokan.example.kintokan.iti"
            android:exported="false" />
        <activity
            android:name="kintokan.example.kintokan.iiit"
            android:exported="false" />
        <activity
            android:name="kintokan.example.kintokan.diplama"
            android:exported="false" />
        <activity
            android:name="kintokan.example.kintokan.inter"
            android:exported="false" />
        <activity
            android:name="kintokan.example.kintokan.list_of_course"
            android:exported="false" />
        <activity
            android:name="kintokan.example.kintokan.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>